# exe file
/*.exe

# picture
/*.jpg
/*.png
/*.gif
/*.tif

# 忽略資料夾
OldBookRemake*/*
logs/*
__pycache__/*
model/__pycache__
BLL/__pycache__

# 忽略這類型的所有資料夾
**/__pycache__

# 忽略log檔格式
/*.yaml
/*.log
/*.conf